<!DOCTYPE HTML>
<html ng-app="handShakeApp">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/angular.js"></script>
		<script type="text/javascript" src="js/angular-route.js"></script>

		<script type="text/javascript" src="js/qrcode.js"></script>
		<script type="text/javascript" src="js/grid.js"></script>
		<script type="text/javascript" src="js/version.js"></script>
		<script type="text/javascript" src="js/detector.js"></script>
		<script type="text/javascript" src="js/formatinf.js"></script>
		<script type="text/javascript" src="js/errorlevel.js"></script>
		<script type="text/javascript" src="js/bitmat.js"></script>
		<script type="text/javascript" src="js/datablock.js"></script>
		<script type="text/javascript" src="js/bmparser.js"></script>
		<script type="text/javascript" src="js/datamask.js"></script>
		<script type="text/javascript" src="js/rsdecoder.js"></script>
		<script type="text/javascript" src="js/gf256poly.js"></script>
		<script type="text/javascript" src="js/gf256.js"></script>
		<script type="text/javascript" src="js/decoder.js"></script>
		<script type="text/javascript" src="js/qrcode(1).js"></script>
		<script type="text/javascript" src="js/findpat.js"></script>
		<script type="text/javascript" src="js/alignpat.js"></script>
		<script type="text/javascript" src="js/databr.js"></script>
		<script type="text/javascript" src="js/webqr.js"></script>

		<script type="text/javascript" src="js/bitcoinjs-min.js"></script>

		<script type="text/javascript" src="js/script.js"></script>

		<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
		<div class="text-center">
			<h1>Handshake</h1>
			<div id="qrs" class="container">
				<div ng-view>Loading...</div>
			
			
			</div>
		</div>

		<script type="text/ng-template" id="page1">
			<h3>Please select mobile device</h3>
			<div class="form-group">
				<a href="#/page2" class="btn btn-primary btn-lg">
					<h2>Offline</h2>
					This device is not connected to the internet. It will be holding cold-storage private key and signing a trasaction.
				</a>
			</div>
			<div class="form-group">
				<a href="#/page4" class="btn btn-primary btn-lg">
					<h2>Online</h2>
					This device is connected to the internet. It will be creating a transaction.
				</a>
			</div>
		</script>
		<script type="text/ng-template" id="page2">
			<h3>Offline Device</h3>
			<div class="form-group">
				<label for="input_page_2">Enter a private key or scan from QR</label>
				<div class="input-group">
					<input type="text" ng-model="root.privateKey" class="form-control qr" id="input_page_2" placeholder="Private key">
					<span class="input-group-addon" ng-click="scanQR('input_page_2')"><i class="glyphicon glyphicon-qrcode"></i></span>
				</div>

				<div id="cam"></div>
				<canvas id="qr-canvas"></canvas>
			</div>
			<div class="form-group">
				<a href="#/page3" class="btn btn-primary form-control" ng-click="root.createPublicKey()">
					next
				</a>
			</div>
		</script>
		<script type="text/ng-template" id="page3">
			<h3>Offline Device</h3>
			Your bitcoin address is: {{ root.publicKey }}
			<h4>Please scan QR with the online device</h4>

			<div id="qrcode_write" class="qr">
				<!--canvas width="256" height="256"></canvas>
				<img alt="Scan me!" style="display: none;"-->
			</div>

		</script>
		<script type="text/ng-template" id="page4">
			<h3>Online Device</h3>
			<div class="form-group">
				<label for="input_page_4">Enter your cold-store address or scan from QR</label>
				<div class="input-group">
					<input type="text" ng-model="root.publicColdStorageKey" class="form-control qr" id="input_page_4" placeholder="Cold-store address">
					<span class="input-group-addon"><i class="glyphicon glyphicon-qrcode" ng-click="scanQR('input_page_4')"></i></span>
				</div>
				
				<div id="cam"></div>
				<canvas id="qr-canvas"></canvas>
			</div>
			<div class="form-group">
				<a href="#/page5" class="btn btn-primary form-control" ng-click="insertPublicColdStorageKey()">
					next
				</a>
			</div>
		</script>
		<script type="text/ng-template" id="page5">
			<h3>Online Device</h3>
			<div class="form-group">
				<label for="input_page_5_1">1. Enter the address to send bitcoins to or scan from QR</label>
				<div class="input-group">
					<input type="text" ng-model="root.publicKey" class="form-control qr" id="input_page_5_1" placeholder="Bitcoin address">
					<span class="input-group-addon" ng-click="scanQR('input_page_5_1')"><i class="glyphicon glyphicon-qrcode"></i></span>
				</div>

				<div id="cam"></div>
				<canvas id="qr-canvas"></canvas>
			</div>
			<div class="form-group">
				<label for="input_page_5_2">2. Enter the amount of bitcoins to send</label>
				<div class="input-group">
					<input type="text" ng-model="root.amount" class="form-control" id="input_page_5_2" placeholder="Amount">
					<span class="input-group-addon">฿</span>
				</div>
			</div>
			<div class="form-group">
				<a href="#/page6" class="btn btn-primary form-control" ng-click="insertTargetAddressAndAmount()">
					next
				</a>
			</div>
		</script>
		<script type="text/ng-template" id="page6">
			<h4>This is your unsigned transaction from the online device</h4>
			<div id="qrcode_write" class="qr">
				<!--canvas width="256" height="256"></canvas>
				<img alt="Scan me!" style="display: none;"-->
			</div>
		</script>
		<script type="text/ng-template" id="page7">
			<div class="form-group">
				<label for="input_page_7">Please scan the unsigned transaction from the online device</label>
				<div class="input-group">
					<textarea ng-model="root.unsignedTransactionData" class="form-control custom-control" rows="3" id="input_page_7" placeholder="Private key" style="resize:none"></textarea>     
    				<span class="input-group-addon" ng-click="scanQR('input_page_7')"><i class="glyphicon glyphicon-qrcode"></i></span>
				</div>

				<div id="cam"></div>
				<canvas id="qr-canvas"></canvas>
			</div>
			<div class="form-group">
				<a href="#/page3" class="btn btn-primary form-control" ng-click="root.createPublicKey()">
					next
				</a>
			</div>
		</script>
		<script type="text/ng-template" id="page8">
			Page 8
		</script>
		<script type="text/ng-template" id="page9">
			Page 9
		</script>
	</body>
</html>